<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="books">
        <ul>
            <% for (let i = 0; i < books.length; i++) { %>
                <li>Book: <%= books[i].book %> | Category: <%= genres[i].genre %></li>
                <form action="/edit" method="GET">
                    <input type="hidden" name="bookId" value="<%= books[i].id %>">
                    <input type="hidden" name="book" value="<%= books[i].book %>">
                    <input type="hidden" name="genreId" value="<%= genres[i].id %>">
                    <input type="hidden" name="genre" value="<%= genres[i].genre %>">
                    <button type="submit">Edit</button>
                </form>   
                <form action="/delete" method="GET">
                    <input type="hidden" name="bookId" value="<%= books[i].id %>">
                    <input type="hidden" name="book" value="<%= books[i].book %>">
                    <input type="hidden" name="genreId" value="<%= genres[i].id %>">
                    <input type="hidden" name="genre" value="<%= genres[i].genre %>">
                    <button type="submit">Delete</button>
                </form>                
            <% } %>
        </ul>
    </div>
</body>
</html>